* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f4f7fa;
  color: #0f172a;
}
/* Top Navbar */
.navbar {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6ebf1;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.navbar-title {
  font-size: 18px;
  font-weight: 600;
  color: #1f3c88;
}
